---
import Base from "@/layouts/Base.astro";
import BlogCard from "@/layouts/components/BlogCard";
import Social from "@/layouts/components/Social";
import ImageFallback from "@/layouts/helpers/ImageFallback";
import MDXContent from "@/layouts/helpers/MDXContent";
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser";
import { slugify } from "@/lib/utils/textConverter";
import type { Author, Post } from "@/types";

const { single } = Astro.params;
const authors: Author[] = getSinglePage("authors");
const author = authors.find((page) => page.slug === single);

if (!author) {
  return Astro.redirect("/404");
}

const { frontmatter, content } = author;
const { title, social, meta_title, description, image } = frontmatter;
const { blog_folder } = config.settings;
const posts: Post[] = getSinglePage(blog_folder);
const postFilterByAuthor: Post[] = posts.filter(
  (post) => slugify(post.frontmatter.author) === slugify(title),
);

export function getStaticPaths() {
  const authors: Author[] = getSinglePage("authors");
  return authors.map((author) => ({
    params: { single: author.slug },
  }));
}
---

<Base {title} {meta_title} {description} {image}>
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center border-b border-border pb-14 dark:border-darkmode-border">
        <div class="text-center lg:col-4">
          {image && (
            <ImageFallback
              src={image}
              className="mx-auto mb-10 rounded"
              height={200}
              width={200}
              alt={title}
              client:load
            />
          )}
          <h1 class="h3 mb-6">{title}</h1>
          <div class="content">
            <MDXContent {content} client:load />
          </div>
          <Social source={social} className="social-icons mt-10" client:load />
        </div>
      </div>
      <div class="row justify-center pb-16 pt-14">
        {postFilterByAuthor.map((post, index: number) => (
          <div class="mb-12 md:col-6 lg:col-4">
            <BlogCard data={post} client:load />
          </div>
        ))}
      </div>
    </div>
  </section>
</Base>
